.we_title{
	color:#0088cc;
}

.we_description{
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	color:#a3a3a3;
}

.we_section {
	margin-top:5px;
	color:green;
	border-bottom:2px solid #e3e3e3;
}

